/*--------Variables-------*/

$gray1: #f5f5f5;
$gray2: #e2e2e2;
$gray3: #c7c7c7;
$gray4: #a7a7a7;
$gray5: #868686;
$gray6: #666666;
$gray7: #4a4a4a;
$gray8: #323232; 
$gray9: #202020;

$blue-logo: #22A7F0;
$charcoal: #404040;

$text-black: $charcoal;
$text-gray: $gray5;

$blue-main: $blue-logo;

$green-bright: #00E676;
$red-bright: #FF5252;
$orange-bright: #FFAB40;

$black: #000000;
$white: #ffffff;

