src/mixins/coordinate-grid-mixin.js
src/mixins/coordinate-grid-raster-mixin.js
src/mixins/raster-layer-point-mixin.unit.spec.js
src/utils/utils-lasso.unit.spec.js
test/setup-unit-tests.js
src/polyfills/inner-svg.js