language: node_js
node_js:
- '8'
sudo: required
before_install:
- npm install -g node-gyp
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
notifications:
  email: false
  slack:
    secure: fOjQyz0i+vu5pxVQabYg3bXG2swgZcSyWHAtP7eTS5AfxPObujkjWT1ZluqEESb7XRYk/zrsWUJyMhaD59xfiAqXY+e4PbuuutD0myfW89+ow+/Wwv1LsehJd/1a+umqVh6TsHUvUvJh6MoBKkhtV/EJxFJ82dHH3oiZozapTYB1WRg4pyuWG42J5eT9dego0RhkJykqZMmSU2+otPwVG6V0S/oZfvXjadtaqoKxADfGwxpktaRxiZbhaX4/B8Ee+Nn/wixpkjBJSauX/QC8b8fjIYIt0f0XnZdCXbx8e0EENh4jTIbYpaUF9B2CBtIJGA6YNBMTNwTqfTOkPvDA8vtLbKsDL4FeAPjNsb7qyaiSQrtlk9I3R61XHwe78wCb8X0vE+IUuNwGfluNv7U2F2ubi/nqeo6u8vAhxWxt/Ogcpg5x7h8YqMEMq/0otQ+NKmggCES5lM4UNkX5LIWATod6agWBjef+KIvRtVcs59BUPEnXkFChuAg8IAu/FXJ+b5CciQJtUvgCmcZ54QeffS06sDG5fo5Yq0q265S99vWBRWg9nYy3WB+Y/1V5w3nNUf0xvpPScuivG6CReWerU+9KxeBoKPNYharLjY39/siWHNrLDFiBVsB807KhPx/3DVua3RWZ859qZAZl1XU/vd2Yy2U6y+3cOVV/1B9tLyg=
after_success:
- sh ./scripts/publish-docs-and-examples.sh
env:
  matrix:
    secure: I3hjR+BBPHlGBnxPCu+ey/6PuPRVsbyTSUyi09DDDTIa0SWhubvZgac2UQW9IJHY5jz5EOXOmk2nf9khGlz0pJdFsr3wyHbpFoTYmW2ns2EpqtqHLiz+4sQP4PQ3XZ6WdtRt63RkLYCaFMq6QHtHtpQP4kanWSuhqV6tUgjho1mZjXOEyY2/YcfVpVd0pa6u+S5/0WJEba3l0zBYkzyTp2WtiAGte0fYvO/5Q/vlWBUkE+zIsROpFVCP8yv29jwolsoH0a/v/sEOWglwIOU5ntyInir31edVVwiG4hGT8LBYG0JZbJlJyJvudZ68I9pB5ThdFsUZKOHWADwIhzD1EFOPXR/bPDuoEC/F3mOYbDm03GADHianQrYbIaupl+i8MnCJXDZFshrbtekOwvz56tOp31IZePR6EFAJOiwTejFdel09C01bWY7Yq4y5udOcNcWj6yUCLxTUKOVFM/JuySfZavdz4NhscfyrGPpXbsGMq0sR17EjFRRPPNq5aZ2mnpMG4q59rkdKHBzO6WPLHplD3EVjiZA0N6MgXktKBrsBjRJ/FjVzEz263wV5J7iY2h1RcgXPrJRM9JfQTd9XRxw4RH6yA4Gi9AMv6pG7m4uaLzagdmuiAp7Q9sn4s+d7vM43p9FDOpWXO7U+UO49xZ8zantY6oYXnfzCpXZTsKY=
